body, ul {
    margin: 0;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    padding: 0;
}

.container{
    max-width: 800px;
    margin: 10px;
    padding: 20px;    
}

h1{ 
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    width: 10000px;
}

.column{
    flex: 1;
    padding: 10px;
}

@media (max-width: 700px) {
    .column {
        flex: 100%;
    }
}

.box    {
    background-color: lightcyan;
    width: 400px;
    height: auto;
    padding: 90px;
    border: 6px solid black;
    margin: 10px;
}

.box2    {
    background-color: gray;
    width: 400px;
    height: auto;
    padding: 80px;
    border: 6px solid black;
}

body {
    background-image: url(jkk.avif);
    
}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
}

li>a {
    padding: 8px 24px;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.nav.links {
    display: flex;
    align-items: center;
}

.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column{
        flex: 100%;
    }
}

.nav-links {
    display: none;
}

.button-menu-toggle {
    display: block;
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}

.nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20, 20, 20, 0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap: 70px;
    font-size: 40px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
}